@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right top, #00c6cf, #38c9c6, #54ccbd, #6bcfb5, #7fd1ae);
  background-color: #38c9c6;
  background-repeat: no-repeat;
  height: 100%;
}
#bgColor{
  background-image: linear-gradient(to right top, #00c6cf, #38c9c6, #54ccbd, #6bcfb5, #7fd1ae);
  background-color: #38c9c6;
  background-repeat: no-repeat;
}

